*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f0bebe;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.header{
    width: 50vw;
    height: 90vh;
    margin-top: 3%;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.close{
    position: absolute;
    
}